.header {
    h1 {
        padding-top: 10px;
    }

    height: 10vw;
    color: white;
    background-image: url(../../../../public/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}