.search {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 60%;
    height: 70%;

    &_inputLayout {
        display: flex;
        width: 80%;
        height: 2.5vw;

        button {
            border: 0;
            background-image: url(../../../public/loupe.svg);
            background-size: cover;
            width: 5%;
            min-width: 2vw;
            height: auto;
            cursor: pointer;
            padding: 0;
        }

        input {
            border: 0;
            font-size: 1.7vw;
            width: 100%;
        }
    }

    &_dropdownLayout {
        width: 90%;
        height: 35%;
        display: flex;
        justify-content: space-between;
    }
}